#navigation .nav-image img {
    height:auto;

    width: 100px;

    border: #51344d;
       
}

#login-form form {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 250px;
    margin: 10px ;
}